{% extends "task/base.html" %}
{% block content %}
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.name_task }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="task-description">{{ task.desc_task }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
