{% extends "tasks/base.html" %}
{% block content %}
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ task.name_task }}</a>
              <small class="text-muted">{{ task.proj_task }}</small>
            </div>
            <p class="task-description">{{ task.desc_task }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
